<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Primary Meta Tags -->
<title><%= websiteName %></title>
<meta name="title" content="<%= websiteName %>">
<meta name="description" content="Explore San Francisco's commercial vacancy data with this interactive map.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://vacansee.org/">
<meta property="og:title" content="VacanSee: SF Commercial Vacancy Map">
<meta property="og:description" content="Explore San Francisco's commercial vacancy data with this interactive map.">
<meta property="og:image" content="https://www.vacansee.org/img/VSPreviewRect.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://vacansee.org">
<meta name="twitter:title" content="VacanSee: SF Commercial Vacancy Map">
<meta name="twitter:description" content="Explore San Francisco's commercial vacancy data with this interactive map.">
<meta name="twitter:image" content="https://www.vacansee.org/img/VSPreviewSquare.png">

<link href="https://cdn.vacansee.org/libs/maplibre-gl.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/stylesheets/sfmap.css" />
<link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
